header {
   height: 783px;
   background: #f2f3f6;

   .hero {
      @include flexCenter();
      flex-direction: column;

      & > img {
         width: 252.45px;
         height: 258.65px;
      }

      .hero-text {
         @include flexCenter();
         flex-direction: column;

         h2 {
            @include textStyle(900, 24px, 29px);
            width: 235px;
            text-align: center;
            color: #111238;
            padding-bottom: 20px;
         }

         & > p {
            @include textStyle(400, 16px, 22px);
            width: 290px;
            text-align: center;
            color: #111238;
            padding-bottom: 29px;
         }

         form {
            position: relative;
            width: 290px;
            height: 70px;
            border: 1px solid rgba(209, 209, 209, 0.1);
            box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
            border-radius: 5px;
            overflow: hidden;

            input {
               width: 100%;
               height: 100%;
               border: none;
               outline: none;
               box-sizing: border-box;
               padding: 25px 0 25px 25px;
            }

            button {
               position: absolute;
               top: 13px;
               right: 10px;
               width: 68.44px;
               height: 45px;
               background: #1a75e8;
               border-radius: 5px;
               border: none;
               outline: none;
            }

            margin-bottom: 20px;
         }
         .example {
            width: 259px;
            height: 59px;
            text-align: center;

            @include textStyle(400, 14px, 17px);
            color: #b2b2b2;

            margin-bottom: 50px;

            ul {
               display: flex;
               justify-content: space-between;

               li {
                  border: 1px solid #b2b2b2;
                  border-radius: 5px;
                  padding: 5px 10px;
               }
            }

            p {
               padding-bottom: 15px;
            }
         }
      }
   }
}

@media (max-width: 768px) {
   button {
      p {
         display: none;
      }
   }
}
