@media (min-width: 992px) {
   .jobs {
      .vacancies-cards {
         width: 1146px;
         height: 700px;

         .card {
            width: 1146px;
            height: 160px;
            flex-direction: row;

            & > * {
               margin-bottom: 10px;
            }
         }
      }
   }
}
